body {
    background: white;
}

#side_nav {
    background: linear-gradient(180deg, #00B7EB 60.94%, #00EB96 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 20px 0px;
    gap: 160px;
    position: absolute;
    width: 120;
    height: 833px;
    left: 0px;
    top: 0px;
}
#Container_1 {
    width: 300px;
    position: absolute;
    left: 180px;
    top: 50px;
    align-items: center;
}
#Container_2 {
    width: 300px;
    position: absolute;
    left: 180px;
    top: 190px;
    align-items: center;
}
#Container_3 {
    width: 300px;
    position: absolute;
    left: 200px;
    top: 300px;
    border-radius: 8px;
}
#Container_4 {
    width: 300px;
    position: absolute;
    left: 200px;
    top: 400px;
    border-radius: 8px;
}
#Container_5 {
    width: 300px;
    position: absolute;
    left: 200px;
    top: 500px;
    border-radius: 8px;
}
#Container_6 {
    width: 300px;
    position: absolute;
    left: 500px;
    top: 190px;
    border-radius: 8px;
}
#Container_7 {
    width: 300px;
    position: absolute;
    left: 500px;
    top: 230px;
    border-radius: 8px;
}
#Container_8 {
        width: 800px;
        position: absolute;
        left: 510px;
        top: 270px;
        border-radius: 8px;
        height: 260px;
}
#Container_9 {
    width: 230px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 8px;
    height: 200px;
}
#Projects {
    width: 220px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 8px;
    height: 200px;
    align-items: center;
}
#Deadline {
    width: 220px;
    position: absolute;
    left: 10px;
    top: 70px;
    border-radius: 8px;
    height: 200px;
    align-items: center;
}
.main {
    margin-left: 200px;


}
.content {    
    min-height: 100vh;
    width: 100%;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}